.navigation {
  display: flex;

  &__container {
    align-items: center;
  }

  &__list {
    &_item {
      list-style: none;

      &--link {
        text-decoration: none;
        color: #131313;
        font-weight: 500;
      }
    }
  }
}
