.logo {
  display: flex;
  align-items: center;

  &__container {
    height: 15px;
    display: flex;
    align-items: center;

    &__img {
      height: inherit;
    }
  }

  &__text {
    margin-left: 5px;
    border-left: 1px solid #adafb2;
    padding-left: 5px;
    color: #adafb2;
    line-height: 15px;
    font-family: 'Verdana';
  }
}
