.logo {
  display: flex;
  align-items: center;

  &__img-container {
    height: 15px;
    &__img {
      height: inherit;
    }
  }

  &__text {
    margin-left: 5px;
    border-left: 1px solid #414042;
    padding-left: 5px;
    color: #adafb2;
    font-family: 'Verdana';
  }
}
