.api-reference {
  display: flex;
  align-items: center;

  &__container {
    position: relative;
  }

  &__title {
    flex: 0 0 25%;
    padding: 242px 0 366px 128px;
    z-index: 2;

    &--img {
      position: absolute;
      left: -30px;
      top: 108px;
      background-image: url(/assets/images/graphic.svg);
      background-repeat: no-repeat;
      background-size: contain;
      height: 421px;
      width: 421px;
    }
  }

  &__nav {
    padding-top: 100px;
  }
}
