.sign-in {
  display: flex;
  background: linear-gradient(180deg, #e9f3fa 0%, #ffffff 100%);

  .content-container {
    flex-wrap: wrap;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    flex: 0 0 100%;
    color: #002c5f;
    font-family: 'Montserrat';
    font-size: 46px;
    font-weight: 700;
    line-height: 53px;
    text-align: center;
  }

  &__form {
    &_item {
      margin-bottom: 18px;
    }
    &_btn-block {
      position: relative;

      &_btn {
        color: #ffffff;
        font-size: 14px;
        font-family: 'Montserrat';
        background-color: #0064d6;
        border: none;
        padding: 18px 28px;
        cursor: pointer;
        width: 95px;
      }

      &_error {
        font-size: 16px;
        font-family: 'Montserrat';
        color: #d50000;
        margin-bottom: 18px;
        height: 19px;
      }
    }
  }

  &__link {
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 23px;
    color: #0064d6;
    font-weight: 400;
  }
}
