@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.content-container {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
